﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-1.11.3.js"></script>
    <title>Index</title>
</head>
<body>
    <div>
        <h1>Danh sách người dùng</h1>
        <div id="users"></div>
        <div>
            <label for="userName">Username:</label>
            <input type="text" id="userName" size="5" />
            <input type="button" value="Search" onclick="GetUser1212590();" />
        </div>
        <h3>Thêm/Cập nhật người dùng</h3>
        <table>
            <tr>
                <td>Username</td>
                <td>@Html.TextBox("Username")</td>
            </tr>
            <tr>
                <td>Password</td>
                <td>@Html.TextBox("Password")</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>@Html.TextBox("Name")</td>
            </tr>
            <tr>
                <td></td>
                <td><center><input type="button" id="btnSave" value="Save" style="width:5em" /><input type="button" id="btnChange" value="Change" style="width:5em" /></center></td>
            </tr>
        </table>

        <script type="text/javascript">
            var uri = "http://localhost:14024/api/2.0/users/";
            $(document).ready(function () {
                GetAllUsers1212590();

                $("#btnSave").click(function () {
                    var username = $("#Username").val();
                    var password = $("#Password").val();
                    var name = $("#Name").val();
                    AddUser1212590(username, password, name);
                });
                $("#btnChange").click(function () {
                    UpdateUser1212590();
                });
            });

            function GetAllUsers1212590() {
                $.getJSON(uri, function (data) {
                    $("#users").html(' ');
                    $.each(data, function (key, val) {
                        var user = '<a href="#" onclick="viewUser(\'' + val.UserName + '\')">' + "Username: " + val.UserName + '</a>' + " - Password: " + val.Password + " - Name: " + val.Name + " " + '<a href="#" onclick="DeleteUser1212590(\'' + val.UserName + '\')">Delete</a>';
                        $('<li/>', { html: user }).appendTo($('#users'));
                    });
                });
            }

            function GetUser1212590() {
                var username = $("#userName").val();
                $.getJSON(uri + username, function (data) {
                    var user = '<a href="" onclick="viewUser(\'' + data.UserName + '\')">' + "Username: " + data.UserName + '</a>' + " - Password: " + data.Password + " - Name: " + data.Name + " " + '<a href="#" onclick="DeleteUser1212590(\'' + data.UserName + '\')">Delete</a>';
                    $("#users").html(user);
                })
                .fail(
                    function (jqXHR, textStatus, err) {
                        $('#users').html("Error: " + err);
                    }
                );
            }

            function AddUser1212590(username, password, name) {
                $.ajax({
                    type: "POST",
                    url: uri,
                    data: { UserName: username, Password: password, Name: name },
                    success: function () { },
                    statusCode: {
                        404: function () {
                            alert("Can't create user");
                        },
                        201: function () {
                            GetAllUsers1212590();
                        }
                    }
                });
            }

            function DeleteUser1212590(username) {
                $.ajax({
                    type: "DELETE",
                    url: uri + username,
                    success: function () { },
                    statusCode: {
                        404: function () {
                            alert("Not Found");
                        },
                        204: function () {
                            GetAllUsers1212590();
                        }
                    }
                });
            }

            function viewUser(username) {
                $.getJSON(uri + username, function (data) {
                    $("#Username").val(data.UserName);
                    $("#Password").val(data.Password);
                    $("#Name").val(data.Name);
                });
            }

            function UpdateUser1212590() {
                var username = $("#Username").val();
                var password = $("#Password").val();
                var name = $("#Name").val();
                $.ajax({
                    type: "PUT",
                    url: uri + username,
                    data: { UserName: username, Password: password, Name: name },
                    statusCode: {
                        404: function () {
                            alert("Not Found");
                        },
                        204: function () {
                            GetAllUsers1212590();
                        }
                    }
                });
            }
        </script>

    </div>
</body>
</html>
